.footer {
  padding: 2.75rem 0.75rem;
  background: $softBlue;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: center;
}

.footer p {
  color: white;
}

.footer a {
  font-weight: 700;
  color: gainsboro;
}
